html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.list{
  max-height: 100vh;
  overflow: scroll;
}

.chat-item{
  flex-shrink: 0;
  cursor: pointer;
}
/* 
.chat-link{
  cursor: not-allowed;
} */
